@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #212121; outline: none;}


html { font-size: 13px; } /*기준 폰트사이즈 - 1rem - 13px */
.montserrat { font-family: 'Montserrat', sans-serif !important; }

/* 초기화 */
body { margin: 0; }
ul, ol { list-style: none;padding: 0; }
dl, dt, dd, p { padding:0; margin: 0;}
a { text-decoration: none; }
img {border: 0;}

/* 헤더 영역 S */
header { display:flex; justify-content:space-between; height: 66px; align-items: center; border-bottom: 1px solid #e6e6e6; padding: 0 15px;}
header .logo img {height: 34px; }
header section i {font-size: 2rem;}
header section.left a { margin-right: 10px; }
header section.right a { margin-left: 10px; }
/* 헤더 영역 E */

/* 메인 메뉴 영역 S */
nav {display: flex; height: 44px; } 
nav a {flex-grow: 1; width: 0; text-align: center; line-height: 44px; color: #494949;}


/* 메인 배너 영역 */
.main-banner img{ width: 100%; display: block; }

/* 서브 메뉴 영역 S */
.sub-menus { display: flex; flex-wrap: wrap; border: 10px solid #ededed; border-left: 0; border-right: 0; }
.sub-menus a { font-size: 1.077rem; font-weight: 500; width: calc(100% / 3); text-align: center; height: 50px; line-height: 50px; border-top: 1px solid #ededed; border-left: 1px solid #ededed;  }

.sub-menus a:nth-of-type(3n+1) { border-left: 0; }
.sub-menus a:nth-of-type(1),
.sub-menus a:nth-of-type(2),
.sub-menus a:nth-of-type(3) { border-top: 0; }
/* 서브 메뉴 영역 E */

/* 서브 배너 영역 */
.sub-banners { display: flex; flex-wrap: wrap; }
.sub-banners img { display: block; width: 100%; }
.sub-banners a:nth-of-type(1) { width: 100%; }
.sub-banners a:nth-of-type(2),
.sub-banners a:nth-of-type(3) { width: 50%; }

/* 베스트 상품 제목 영역 */
.best_product_name {font-size:20px; text-align: center; padding-top:10px;}


/* 베스트 상품 영역 S */
/*
.best_product { display:flex; flex-wrap:wrap;}
.best_product img {display: block; width: 100%; border-radius: 20px; border : 6px solid #fff;}
.best_product a:nth-of-type(1),
.best_product a:nth-of-type(2) {width: 50%;}
.best_product a:nth-of-type(3),
.best_product a:nth-of-type(4) {width: 50%;}
.best_product a:nth-of-type(5),
.best_product a:nth-of-type(6) {width: 50%;}
*/
.best_product { display: flex; flex-wrap: wrap; margin: 0 15px;  }
.best_product > .product { width: calc(100% / 2 - 8px); margin-left: 16px; margin-bottom: 30px; }
.best_product > .product:nth-of-type(2n+1) { margin-left: 0; }
.best_product .image { display: block; width: 100%; border-radius: 20px; margin-bottom: 10px; }
.best_product .price_wrap { color: #000; font-size: 1.154rem; }
.best_product .price { font-weight: 800; letter-spacing: -1px; font-size: 1.385rem; }
.best_product .product_nm { color: #3e3d3c; font-size: 1.154rem; }
.best_product .review_wrap { margin-top: 10px; }
.best_product .score img { height: 11px; }
.best_product .review_wrap .txt { color: #a7a7a7; margin-left: 5px; font-size: 0.923rem; }

/* 베스트 상품 영역 E */